<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrackingTool.Properties.Settings.banco" connectionString="Data Source=.\sqlexpress;Initial Catalog=TT_banco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TrackingTool.Properties.Settings.TT_banco" connectionString="Data Source=.\sqlexpress;Initial Catalog=TrackingTool.db.TT_banco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="banco.Properties.Settings.banco" connectionString="Data Source=.\sqlexpress;Initial Catalog=banco.TT.TT_banco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tracking.Properties.Settings.banco" connectionString="Data Source=.\sqlexpress;Initial Catalog=banco.TT.TT_banco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tracking.Properties.Settings.database" connectionString="Data Source=.\sqlexpress;Initial Catalog=Tracking.Tool.banco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
